@model Banco.Models.EditarUsuariosViewModel
@{
    ViewData["Title"] = "Editar Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <h1>Editar Usuario @Model.Email</h1>
    <hr/>

    @using (Html.BeginForm("EditarFuncoes", "Administrador", FormMethod.Post))
    {
        <div >
            @Html.HiddenFor(modelo => modelo.Id)

            <h2>Selecione as funções</h2>
            <hr/>
            <table>
                <tr>
                    <th>Selecionado</th>

                    <th>Função</th>
                </tr>
                @Html.EditorFor(model => model.Funcoes)
            </table>
            <hr/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class=" btn btn-primary"/>
                </div>
            </div>
        </div>
    }
}
