@{
    ViewData["Title"] = "Home Page";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Transferencia>;

<h2>Trasferencias</h2>
<div class="input-group">
    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="postedFile" />
        <input class="input-group-text" type="submit" value="Import" />
    </form>
</div>

<hr />
<table class="table">
    <tr>
        <th scope="col">Data Transferencia</th>
        <th scope="col">Data Importação</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var transferencia in Model)
        {
            <tr>
                <td scope="row">@transferencia.Data</td>
                <td>@transferencia.DataImportacao</td>
                <td><a asp-controller="Detalhe" asp-action="Index" asp-route-codigo="@transferencia.Id" class="btn btn-primary"> Detalhes</a></td>
            </tr>
        }
    }
</table>

